<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="hero">
        <div class="glass-card">

            <h1>Sentiment Analysis Web App</h1>

            <form method="POST">
                <textarea
                    name="text"
                    placeholder="Type your review or opinion here..."
                    required></textarea>

                <button type="submit">Analyze Sentiment</button>
            </form>

            {% if result %}
            <div class="result {{ result }}">
                <p>Sentiment: <span>{{ result }}</span></p>
                <p>Confidence: {{ confidence }}%</p>
            </div>
            {% endif %}

        </div>
    </div>
</body>

</html>
